/* font family */
body {
    font-family: 'Mulish', sans-serif;
}
/* shared style  */
.around-padding{
    padding: 20px;
}
.margin{
    margin:52px 130px 50px 200px;
}
.gap{
    gap: 50px;
}

.flex {
    display: flex;
}

.orange{
    color:#FF5400; 
}

.black{
    color: #131318;

font-size: 36px;

font-weight: 800;

}
.black40{
    color: #131318;
font-size: 40px;

font-weight: 800;


}
.white28{
    color: #FFF;
text-align: center;


font-size: 28px;

font-weight: 800;

}


.btn{
    background-color:#FF5400;
    width: 178px;
height: 55px;

border-radius: 8px;
padding: 16px 35px 16px 35px;
text-align: center;
margin-left: 24px;
border:0.5px;

}
.btn-text{

    color: #FFF;
text-align: center;

font-size: 18px;

font-weight: 800;

}
.align-center{
        
        align-items: center;
        text-align: center;
        
}
.spacebetween{
    display: flex;
    justify-content: space-between;
}
.trust-img{
    width: 48px;
height: 56.008px;
margin-right:10px ;
}
.common-text{
    color: rgba(19, 19, 24, 0.50);

font-size: 16px;

font-weight: 400;

}
.max-width{
    max-width: 1350px;
}
.width{
    width: 45%;
}

main{
    margin:52px 130px 50px 200px;
    max-width: 1440px;
    
}
/* Header style  */
header{
    margin:52px 130px 50px 200px;
    max-width: 1440px;
    
}
nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 52px auto 50px auto ;
}



nav li {
    list-style: none;
    padding-right: 44px;
}

nav a {
    text-decoration: none;
    color: #424247;

    font-size: 18px;
    font-weight: 400;
}
#id{
    padding-left:40px;
   
}
/* banner in header  */
.banner{
    
   
    width:1400px;
   height:600px;
    background:url("Images/Group\ 13\ \(1\)\ \(1\).png");
    background-repeat: no-repeat;
    background-size:1400px;
    max-width: 1440px;
    display:flex;
    justify-content: center;
    margin-left:auto;
    margin-right: auto;
    border-radius: 10px;
    margin-left: 0px;

   


    
   
    
}  
.banner-text{

    color: #FFF;

font-size: 64px;

font-weight: 800;
padding: 106px 287px 24px;

}
.banner-content-text{
    color: #FFF;
text-align: center;

font-size: 16px;

font-weight: 400;
padding: 0px 0px 48px 0px;

}
.btn-img{
    width: 24px;
height: 24px;
padding-left: 0px;
padding-right:0px;
vertical-align:auto;
}
.option-box{
    width: 174px;
height: 52px;

border-radius: 8px;
background: #FFF;
padding: 16px 84px 10px 16px;
margin-left: 24px;

}
.find-btn-text{
    color: #FFF;

font-size: 16px;

font-weight: 700;
text-align: center;
padding-top:0px;
}
 .justify{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1350px;
 } 
.option-section-padding{
    padding: 0px 185px 122px;
}
/* Main section styles */
/* popular tour section  */
.justify-pic{
    display: flex;
    justify-content: space-between;
    
    /* align-items: center; */
    /* align-content: center; */
}
.popular-tour-image{
    width:580px;
     height: 560px;

border-radius: 16px;
}
.justify2{
    display:flex;
 justify-content: center;
}
/* finished */


/* destination section  */
.mld{
    background-image: url(Images/Rectangle\ 5.png);
    background-repeat: no-repeat;
    width:673px;
    margin-left: 20px;
    margin-right: 20px;
    
height: 300px;
border-radius: 16px;



}
.indo{
    background-image: url(Images/Rectangle\ 8.png);
    background-repeat: no-repeat;
    
    width:673px;
    height: 300px;
    border-radius: 16px;

    
    

}
.sri{

    background-image: url(Images/Rectangle\ 6.png);
    background-repeat: no-repeat;
    width: 374px;
height: 286px;
border-radius: 16px;


}
.north{
    background-image: url(Images/Rectangle\ 7.png);
    background-repeat: no-repeat;
    width: 474px;
height: 286px;
border-radius: 16px;

}
.Kashmir{
    background-image: url(Images/Rectangle\ 9.png);
    background-repeat: no-repeat;
    width: 274px;
height: 286px;
border-radius: 16px;

}
.ban{
    background-image: url(Images/Rectangle\ 11.png);
    background-repeat: no-repeat;
    width: 473px;
    height: 300px;
    border-radius: 16px;

}
.bandr{
    background-image: url(Images/Rectangle\ 10.png);
    background-repeat: no-repeat;
    width: 673px;
height: 300px;
border-radius: 16px;

}
/* .grid2{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    
margin: 20px;
gap: 20px; */


/* } */
.flexs{
    display: flex;
    gap: 5px;
    
}
.grid3{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
margin: 20px;
gap: 20px;

}

.choose-text-padding{
    padding: 100px 340px 30px;
}
.bg-margin{
    margin:50px 135px 100px ;
}
.home{
    
    width: 573px;
height: 350px;

border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
padding-left: 32px;

}
.home-icon{
    width: 64px;
height: 64px;
padding: 22px 470px 18px 32px;
}
.margin-top{
    margin-top: 40px;
}
.black24{
    color: #131318;

font-size: 24px;

font-weight: 800;
}
/* deals and discount section  */
.indonesia{
    margin-top: 100px;
    background-image: url(Images/Group\ 13\ \(1\)\ \(1\).png);
    width: 1290px;
    height: 600px;
    background-repeat: no-repeat;
   
}
.america{
    margin-top: 30px;
    background-image: url(Images/Group\ 39.png);
    width: 1290px;
height: 600px;
background-repeat: no-repeat;

}
.Bangladesh{
    margin-top: 30px;
    background-image: url(Images/Group\ 40.png);
    width: 1290px;
height: 600px;
background-repeat: no-repeat;

}
.see-btn{
    color: #FFF;
text-align: center;

font-size: 20px;

font-weight: 800;
background-color:#FF5400;
width: 210px;
height: 62px;
border-radius: 8px;
border: 1px;
padding: 16px;
}
.video{
    width: 650px;
height: 500px;

border-radius: 26px;
border-top: #FFF;
}
.input{
    width: 180px;
height: 12px;
flex-shrink: 0;
border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
padding:16px 200px 16px 20px;
}
.boder{
    border: 1px solid orangered;
    border-radius: 5px;
    width: 400px;
height: 350px;
padding: 35px;
margin-top: 100px;
}
.subs-btn{
    
        color: #FFF;
    text-align: center;
    
    font-size: 20px;
    
    font-weight: 800;
    background-color:#FF5400;
    width: 400px;
    height: 52px;
    border-radius: 8px;
    border: 1px;
    padding: 16px;
}
.discount1{
    background-image: url(Images/Rectangle\ 8\ \(1\).png);
    width: 650px;
height: 422px;
flex-shrink: 0;
border-radius: 16px;
background-repeat:no-repeat;
margin-top: 90px;
position: relative;
margin-left:-4px;
}
.trav-btn{
    width: 324px;
height: 120px;
transform: rotate(-25.628deg);
flex-shrink: 0;
border-radius: 16px;
background: #FF5400;
color: #FFF;
font-weight: 800;
font-size: 32px;
position: relative;
bottom: -240px;
left: 320px;





}
